<div class="row valign-wrapper">
  <div class="col s8">
    <h4>Trending Posts (<%= Post.count %>)</h4>
  </div>
  <div class="col s4">
    <%= link_to "New Post", new_post_path,
    :class => "waves-effect waves-light btn grey lighten-1 right z-depth-0" %>
  </div>
</div>

<%= render partial: 'flash' %>

<table class="striped">
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <div class="row valign-wrapper">
            <div class="col s2 valign">
              <%= link_to up_post_path(id: post.id), method: :patch do %>
                <p class="center-align counter grey-text text-darken-3">
                <i class="tiny material-icons center-align">thumb_up</i></p>
              <% end %>
              <p class="center-align counter"><%= pluralize post.votes, "vote" %></p>
              <%= link_to down_post_path(id: post.id), method: :patch do %>
                <p class="center-align counter grey-text text-darken-3">
                <i class="tiny material-icons center-align">thumb_down</i></p>
              <% end %>
              <p class="center-align"><small><%= pluralize post.views, "view" %></small></p>
              <p class="center-align"><small><%= pluralize post.comments.count, "comment" %></small></p>
            </div>
            <div class="col s10">
              <h5><%= link_to "#{post.title}", post_path(id: post.id),
              :class => "grey-text text-darken-3" %></h5>
              <%= post.content %>
              <br>
              <%= post.user.email %> @
              <%= distance_of_time_in_words post.updated_at, Time.now %> ago
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="col s12 center-align pagination z-depth-0">
  <%= paginate @posts, :outer_window => 3 %>
  <p><%= page_entries_info @posts, :entry_name => 'item' %></p>
</div>
</div>
