<div class="row valign-wrapper">
  <div class="col s8">
    <h4>Trending Posts (<%= Post.count %>)</h4>
  </div>
  <div class="col s4">
    <%= link_to "New Post", new_post_path,
    :class => "waves-effect waves-light btn grey lighten-1 right z-depth-0" %>
  </div>
</div>

<table class="striped">
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <div class="row valign-wrapper">
            <div class="col s2 valign">
              <p class="center-align counter"><i class="tiny material-icons center-align">thumb_up</i></p>
              <p class="center-align counter"><%= pluralize post.votes, "vote" %></p>
              <p class="center-align counter"><i class="tiny material-icons center-align">thumb_down</i></p>
              <p class="center-align"><small><%= pluralize post.views, "view" %></small></p>
            </div>
            <div class="col s10">
              <h5><%= link_to "#{post.title}", post_path(id: post.id),
              :class => "grey-text text-darken-3" %></h5>
              <%= post.content %>
              <br>
              @ <%= post.created_at %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
