<div class="row valign-wrapper">
  <div class="col s12">
    <h4><%= @post.title %></h4>
    Viewed <%= pluralize @post.views, 'time' %> with <%= pluralize @post.votes, 'vote' %>.<br>
  <% if user_signed_in? && @post.user != current_user %>
    <%= link_to "I like this!", up_post_path(id: @post.id), method: :patch,
    :class => "waves-effect waves-light btn grey lighten-1 z-depth-0 left" %>
  <% end %>
    </div>
</div>

<blockquote>
  <%= @post.content %>
</blockquote>

<div class="comments">
  <% if user_signed_in? %>
    <%= form_for @comment do |f| %>
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :comment_content, "What do you think?" %><br>
            <%= f.text_area :comment_content, :class => "materialize-textarea" %>
          </div>
        </div>
        <%= f.submit class: "waves-effect waves-light btn grey lighten-1 left z-depth-0" %>
    <% end %>
  <% end %>
  <br>
  <ul>
    <% @post.comments.each do |comment| %>
      <li><%= comment.comment_content %> - <%= distance_of_time_in_words comment.created_at, Time.now %> ago by
        <%= comment.user.email %>
      </li>
    <% end %>
  </ul>
</div>

<div class="bottom_nav">
  <% if @post.user == current_user %>
    <%= link_to "Edit", edit_post_path,
    :class => "waves-effect waves-light btn grey lighten-1 z-depth-0" %>
  <% end %>
</div>
