<!DOCTYPE html>
<html>
<head>
  <title>ChirpIt - A Reddit/Twitter Combination</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<header>
  <nav class="z-depth-0">
    <div class="nav-wrapper grey lighten-4">
      <%= link_to "ChirpIt", root_path, :class => "grey-text text-darken-3 brand-logo" %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "About", about_path, :class => "grey-text text-darken-3" %></li>
        <li><%= link_to "Trending (#{Post.count})", posts_path, :class => "grey-text text-darken-3" %></li>
        <% if !user_signed_in? %>
          <li><%= link_to "Sign Up", new_user_registration_path, :class => "grey-text text-darken-3" %></li>
          <li><%= link_to "Sign In", new_user_session_path, :class => "grey-text text-darken-3" %></li>
        <% end %>
        <% if user_signed_in? %>
          <li><%= link_to "My Feed", user_path(id: current_user.id), :class => "grey-text text-darken-3" %></li>
          <li><%= link_to "New Post", new_post_path, :class => "grey-text text-darken-3" %></li>
          <li><a class="dropdown-button grey-text text-darken-3" href="#!" data-activates="account">My Account<i class="material-icons right">arrow_drop_down</i></a></li>
            <ul id="account" class="dropdown-content">
              <li><%= link_to "Edit Profile", edit_user_registration_path, :class => "grey-text text-darken-3" %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => "grey-text text-darken-3" %></li>
            </ul>
          <% end %>
      </ul>
    </div>
  </nav>
</header>
<main>
  <div class="container grey-text text-darken-2">
    <%= yield %>
  </div>
</main>
  <footer class="page-footer grey lighten-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12 grey-text">
          <h5>ChirpIt</h5>
          <div class="container grey-text left">
          © <%= Time.now.year %> <%= link_to "Skylar King", "http://www.skylarcking.com",
          :class => "grey-text text-darken-3" %>
          </div>
        </div>
        <div class="col l4 offset-l2 s12">
          <ul>
            <li><%= link_to "About ChirpIt", about_path, :class => "grey-text text-darken-3" %></li>
            <li><%= link_to "View on Github", "https://github.com/skylarking/Reddit",
            :class => "grey-text text-darken-3" %></li>
            <li><%= link_to "Report an Issue", "https://github.com/skylarking/Reddit/issues/new",
            :class => "grey-text text-darken-3" %></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
